#def CSS
<link rel="stylesheet" type="text/css" href="/yui2/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/paginator/assets/skins/sam/paginator.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/calendar/assets/skins/sam/calendar.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/menu/assets/skins/sam/menu.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/button/assets/skins/sam/button.css" />
#end def
#def JAVASCRIPT
<script type="text/javascript" src="/yui2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/yui2/build/connection/connection-min.js"></script>
<script type="text/javascript" src="/yui2/build/element/element-min.js"></script>
<script type="text/javascript" src="/yui2/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="/yui2/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="/yui2/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="/yui2/build/container/container_core-min.js"></script>
<script type="text/javascript" src="/yui2/build/menu/menu-min.js"></script>
<script type="text/javascript" src="/yui2/build/button/button-min.js"></script>
#end def


<h1>Events</h1>

<form method="POST" id="filter" action="">
  <fieldset id="filter_fieldset">
    <legend>Filter</legend>
    <div class="field-left">
      <label>End</label><br />
      <input type="text" size="10" name="start_datetime" value="" />
      <div id="cal1Container"></div> 
    </div>
    <div class="field">
      <label>Start</label><br />
      <input type="text" size="10" id="date" name="date" value="" />
      <button type="button" id="show" title="Show Calendar">
        <img src="/yui2/assets/calbtn.gif" alt="Calendar" />
      </button>
    </div>
    <div class="field-left">
      <label>Min. Magnitude</label><br />
      <input type="text" size="5" id="min_magnitude" name="min_magnitude" 
             value="0" />
    </div>
    <div class="field">
      <label>Max. Magnitude</label><br />
      <input type="text" size="5" id="max_magnitude" name="max_magnitude" 
             value="10" />
    </div>
    <div class="field">
      <div> 
        <input id="search_button" type="submit" name="search_button" 
               value="Search" /> 
      </div> 
    </div>
  </fieldset>
</form>

<br />
<br />


<br />

<div id="dynamicdata"></div>

<script type="text/javascript">
/* <![CDATA[ */

YAHOO.util.Event.onContentReady("filter_fieldset", function () {
    var b1 = new YAHOO.widget.Button("search_button");
});

YAHOO.example.DynamicData = function() {

    // Set initial request
    var initialRequest = "offset=0&limit=20"
    var info = '<a target="_blank" href="/xml/seismology/event/'
    var url = "/seismology/event/getList?"

    // Column definitions
    var myColumnDefs = [ 
        {key:"magnitude", label:"Magnitude"},
        {key:"datetime", label:"Date/Time"},
        {key:"resource_name", label:'', className:'center', 
             formatter: function (el, oRecord, oColumn, oData) {
                 el.innerHTML = info + oData + '">[XML]<\/a> ' +
                 info + oData + '?format=map">[HTML]<\/a>';
             }},
        {key:"resource_name", label:'', className:'center', 
             formatter: function (el, oRecord, oColumn, oData) {
                 el.innerHTML = 
                 info + oData + '/.index?format=xhtml">[Indexes]<\/a> ' +
                 info + oData + '/.meta?format=xhtml">[Metadata]<\/a>';
             }}
    ];

    // DataSource instance
    var myDS = new
    YAHOO.util.DataSource(url);
    myDS.responseType = YAHOO.util.DataSource.TYPE_XML;
    myDS.responseSchema = {
        resultNode: "Item", 
        fields: [
            {key:"magnitude"},
            {key:"datetime"},
            {key:"resource_name"}
        ],
        metaNode : "ResultSet",
        metaFields: {
            totalResultsAvailable: "totalResultsAvailable",
            totalResultsReturned: "totalResultsReturned",
            firstResultPosition: "firstResultPosition"
        }
    };
    
    var myRequestBuilder = function(oState, oSelf) {
        // Get states or use defaults
        oState = oState || {pagination: null, sortedBy: null};
        var offset = (oState.pagination) ? oState.pagination.recordOffset : 0;
        var limit = (oState.pagination) ? oState.pagination.rowsPerPage : null;
        // Build custom request
        return "&offset=" + offset + "&limit=" + limit;
    };

    // DataTable configuration
    var myConfigs = {
        initialRequest: initialRequest,
        dynamicData: true,
        paginator: new YAHOO.widget.Paginator({
            rowsPerPage: 20, 
            template: YAHOO.widget.Paginator.TEMPLATE_ROWS_PER_PAGE, 
            rowsPerPageOptions: [10, 20, 50, 100],
            alwaysVisible: true
        }),
        generateRequest: this.myRequestBuilder 
    };
    
    // DataTable instance
    var myDT = new YAHOO.widget.DataTable("dynamicdata", myColumnDefs, myDS, 
                                          myConfigs);

    // Enable row highlighting
    myDT.subscribe("rowMouseoverEvent", myDT.onEventHighlightRow);
    myDT.subscribe("rowMouseoutEvent", myDT.onEventUnhighlightRow);
    
    // Update totalRecords on the fly with value from server
    myDT.handleDataReturnPayload = function(oRequest, oResponse, oPayload) {
        oPayload.totalRecords = oResponse.meta.totalResultsAvailable;
        return oPayload;
    }

    var handleStatus = function(e) {
        var oCallback = {
            success: myDT.onDataReturnInitializeTable,
            failure: myDT.onDataReturnInitializeTable,
            scope: myDT,
            argument: myDT.getState()
        }
        var ir = myDT.get('initialRequest');
        myDS.sendRequest(ir, oCallback);
    }; 

    return {ds: myDS, dt: myDT};
}();
/* ]]> */
</script>
