#def CSS
<link rel="stylesheet" type="text/css" href="/yui2/build/paginator/assets/skins/sam/paginator.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/calendar/assets/skins/sam/calendar.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/menu/assets/skins/sam/menu.css" />
<link rel="stylesheet" type="text/css" href="/yui2/build/button/assets/skins/sam/button.css" />
#end def
#def JAVASCRIPT
<script type="text/javascript" src="/yui2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/yui2/build/connection/connection-min.js"></script>
<script type="text/javascript" src="/yui2/build/element/element-min.js"></script>
<script type="text/javascript" src="/yui2/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="/yui2/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="/yui2/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="/yui2/build/container/container_core-min.js"></script>
<script type="text/javascript" src="/yui2/build/menu/menu-min.js"></script>
<script type="text/javascript" src="/yui2/build/button/button-min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */

function plotPreview() {
  nid = document.getElementById('network_id').value;
  sid = document.getElementById('station_id').value;
  lid = document.getElementById('location_id').value;
  cid = document.getElementById('channel_id').value;
  start = document.getElementById('start_datetime').value;
  end = document.getElementById('end_datetime').value;
  url = "/seismology/waveform/getPreview?format=image&network_id=" + nid
  url += "&amp;station_id=" + sid
  url += "&amp;location_id=" + lid
  url += "&amp;channel_id=" + cid
  url += "&amp;start_datetime=" + start
  url += "&amp;end_datetime=" + end
  document.getElementById('plot').src = url
};


/* ]]> */
</script>
#end def


<h1>Waveforms</h1>


<form method="post" id="filter" action="">
  <fieldset id="filter_fieldset">
    <legend>Filter</legend>
    <div class="field-left">
      <label>Network</label><br />
      <input type="text" id="network_id" value="BW" />
    </div>
    <div class="field-left">
      <label>Station</label><br />
      <input type="text" id="station_id" value="HROE"/>
    </div>
    <div class="field-left">
      <label>Location</label><br />
      <input type="text" id="location_id" value="*" />
    </div>
    <div class="field">
      <label>Channel</label><br />
      <input type="text" id="channel_id" value="EH*" />
    </div>
    <div class="field-left">
      <label>Start Time</label><br />
      <input type="text" id="start_datetime" value="2010-01-02T00:00:00" />
    </div>
    <div class="field">
      <label>End Time</label><br />
      <input type="text" id="end_datetime" value="2010-01-03T00:00:00" />
    </div>
    <input type="button" onclick="javascript:plotPreview()" value="Go" />
  </fieldset>
</form>

<br />

<img id="plot" src="/seismology/waveform/getPreview?network_id=BW&station_id=MANZ&channel_id=EH*&start_datetime=2011-01-02T00:00:00&end_datetime=2011-01-03T00:00:00&format=image" />
